.container {
  background-image: url(../../../public/img/mount.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.containerDark {
  background-image: url(../../../public/img/mount.png);
  background-repeat: no-repeat;
  background-size: cover;
}
