.container {
  background-image: url(../../../public/img/statue.jpg);
  color: #fff;
  font-size: 70px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  opacity: 0.8;
}

.title {
  //   padding: ;
}
