.text {
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: black;
  width: 60%;
  margin: 0 auto;
}

.container {
  text-align: center;
  padding: 100px 0;
}

.containerDark {
  text-align: center;
  padding: 100px 0;
  background-color: black;
}

.textDark {
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: white;
  width: 60%;
  margin: 0 auto;
}
