.container {
  font-family: "Quicksand", sans-serif;
  display: flex;
  position: relative;
  padding: 50px;
  flex-direction: column;
  gap: 50px;
}
.containerDark {
  font-family: "Quicksand", sans-serif;
  display: flex;
  position: relative;
  padding: 50px;
  flex-direction: column;
  gap: 50px;
  background-color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 270px;
  left: 500px;
  color: black;
}
.formDark {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  border: 1px solid white;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  top: 270px;
  left: 500px;
  color: white;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.input {
  width: 300px;
  border-radius: 5px;
  padding: 2px;
}
.inputDark {
  width: 300px;
  border-radius: 5px;
  padding: 2px;
  background-color: black;
  border-color: white;
  color: white;
}

.title {
  margin: 0;
  padding: 0;
}

.trip {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: none;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: -690px;
  left: 0;
  height: 950px;
}

.trips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 50px 0;
}

.button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.buttonDark {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.buttonDark:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.error {
  margin: 0;
  padding: 0;
}
