.container {
  padding: 50px;
  font-family: "Quicksand", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 30px;
}

.name,
.text {
  border-radius: 5px;
}

.text {
  height: 200px;
}
