.container {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
}

.links,
.social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.img {
  width: 30px;
}

.link {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0 3px;
  text-decoration: none;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  padding: 0 10px;
}

.link:hover {
  border: 1px solid black;
}
