.container {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  font-size: 20px;
  font-weight: 500;
}

.input,
.textarea {
  border-radius: 5px;
  padding: 5px;
}

.textarea {
  height: 200px;
}

.title {
  font-size: 35px;
}
